*{

 margin:0;
padding:0;
font-family: Century Gothic;
}

header{
 background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(ui2.jpg);
 height:100vh;

background-size:cover;
background-position:center;
}
ul{
   margin-top:29px; 
   margin-right:8px;
   list-style-type:none;
   float:right;
   font-size:23px;
}

ul li{
   display:inline-block;

}

ul li a{
 text-decoration:none;
 color:#fff;
 padding:5px 20px;
 border:2px solid #fff;
 transition: 0.6s ease;
}

ul li a:hover{
  background-color:#fff;
  color:#0000FF;
}

ul li.active{
background-color: #000;
color:#fff;
}
.logo img{
       float:left;
       margin-left:16px;
       height:24vh;
}
.main{
max-width:1400px;

}

.title{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
.title h1{
  color:#fff;
  font-size:60px;
   
}
.button{
 position:absolute;
  top:60%;
  left:50%;
  transform: translate(-50%,-50%);
}

.btn{
 border:2px solid #fff;
 padding:10px 30px;
 color:#fff;
 text_decoration:none;
}
 